## Import libraries and dataset.

In [2]:
library(tidyverse)
library(readr) # Read in datasets.
options(scipen = 9999)

In [3]:
ffhistory <- read_csv(file = "C:/Users/chris/Documents/Datasets/FFL/ff_scores.csv", 
                      show_col_types = FALSE)

## Invert table by swapping team_1 and team_2, and inverting win column data.

In [17]:
ffhistory_inverse <- ffhistory
team_1 <- ffhistory$team_1
team_1_score <- ffhistory$team_1_score
team_2 <- ffhistory$team_2
team_2_score <- ffhistory$team_2_score

ffhistory_inverse$team_1 <- team_2
ffhistory_inverse$team_1_score <- team_2_score
ffhistory_inverse$team_2 <- team_1
ffhistory_inverse$team_2_score <- team_1_score
ffhistory_inverse$win <- ifelse(ffhistory_inverse$win == 0, 1, 0)

## Join tables vertically. Save and export as CSV.

In [22]:
ffhistory_inverted <- rbind(ffhistory, ffhistory_inverse) %>%
    arrange(date)

In [26]:
head(ffhistory_inverted[,1:9])

  year week team_1 team_1_score team_2 team_2_score win reg playoffs
1 2014 01   CHRIS  119.68       CARLEN 126.34       0   1   0
2 2014 01   ANDREW 106.28       KYLE   145.94       0   1   0
3 2014 01   STEVE  103.46       DREW   101.92       1   1   0
4 2014 01   MATT   125.50       NATHAN  99.86       1   1   0
5 2014 01   CARLEN 126.34       CHRIS  119.68       1   1   0
6 2014 01   KYLE   145.94       ANDREW 106.28       1   1   0

In [27]:
write.csv(ffhistory_inverted,"C:\\Users\\chris\\Desktop\\ffscores_inverted.csv", row.names = FALSE)