In [4]:
options(warn = -1)
library(tidyverse)
library(baseballr)
library(ggthemes) # Themes for ggplot2.
library(ggimage) # Supports images in ggplot2.
library(gt) # Create tables.
library(readr) # Read in datasets.
library(scatterplot3d)
library(reshape)
library(ExcelFunctionsR)

In [ ]:
# Custom plot settings.
theme_reach <- function() {
  theme_fivethirtyeight() +
    theme(
      legend.position = "none",
      plot.title = element_text(size = 22, hjust = 0.5, face = "bold"),
      plot.subtitle = element_text(size = 18, hjust = 0.5),
      plot.caption = element_text(size = 16),
      axis.title.x = element_text(size=18, margin = margin(t = 20)),
      axis.title.y = element_text(size=18, margin = margin(r = 20)),
      axis.text = element_text(size = 14),
      strip.text = element_text(size = 16, face = "bold"),
      legend.text = element_text(size = 14)
    )
}

In [7]:
ff_scores_2014 <- read.csv(file = "C:/Users/chris/Documents/Datasets/FFL/ff_scores_2014.csv")
ff_scores_2015 <- read.csv(file = "C:/Users/chris/Documents/Datasets/FFL/ff_scores_2015.csv")
ff_scores_2016 <- read.csv(file = "C:/Users/chris/Documents/Datasets/FFL/ff_scores_2016.csv")
ff_scores_2017 <- read.csv(file = "C:/Users/chris/Documents/Datasets/FFL/ff_scores_2017.csv")
ff_scores_2018 <- read.csv(file = "C:/Users/chris/Documents/Datasets/FFL/ff_scores_2018.csv")
ff_scores_2019 <- read.csv(file = "C:/Users/chris/Documents/Datasets/FFL/ff_scores_2019.csv")
ff_scores_2020 <- read.csv(file = "C:/Users/chris/Documents/Datasets/FFL/ff_scores_2020.csv")
ff_scores_2021 <- read.csv(file = "C:/Users/chris/Documents/Datasets/FFL/ff_scores_2021.csv")

ff_scores <- rbind(ff_scores_2014, ff_scores_2015, ff_scores_2016, ff_scores_2017,
                   ff_scores_2018, ff_scores_2019, ff_scores_2020, ff_scores_2021)

In [8]:
ff_scores

     year week team   team_score opp    opp_score
1    2014 1    CHRIS  119.68     CARLEN 126.34
2    2014 1    CARLEN 126.34     CHRIS  119.68
3    2014 1    ANDREW 106.28     KYLE   145.94
4    2014 1    KYLE   145.94     ANDREW 106.28
5    2014 1    STEVE  103.46     DREW   101.92
6    2014 1    DREW   101.92     STEVE  103.46
7    2014 1    MATT   125.50     NATHAN  99.86
8    2014 1    NATHAN  99.86     MATT   125.50
9    2014 2    MATT   124.62     CHRIS  119.12
10   2014 2    CHRIS  119.12     MATT   124.62
11   2014 2    STEVE  122.52     ANDREW 132.02
12   2014 2    ANDREW 132.02     STEVE  122.52
13   2014 2    KYLE   102.18     DREW   146.00
14   2014 2    DREW   146.00     KYLE   102.18
15   2014 2    CARLEN 123.80     NATHAN  94.04
16   2014 2    NATHAN  94.04     CARLEN 123.80
17   2014 3    CHRIS  121.96     NATHAN 124.76
18   2014 3    NATHAN 124.76     CHRIS  121.96
19   2014 3    ANDREW 106.30     DREW   122.18
20   2014 3    DREW   122.18     ANDREW 106.30
21   2014 3    KYLE    79.74     STEVE  110.76
22   2014 3    STEVE  110.76     KYLE    79.74
23   2014 3    CARLEN 124.10     MATT   119.32
24   2014 3    MATT   119.32     CARLEN 124.10
25   2014 4    CHRIS  134.52     ANDREW 158.80
26   2014 4    ANDREW 158.80     CHRIS  134.52
27   2014 4    CARLEN 100.26     KYLE   112.50
28   2014 4    KYLE   112.50     CARLEN 100.26
29   2014 4    MATT   134.50     STEVE  134.84
30   2014 4    STEVE  134.84     MATT   134.50
...  ...  ...  ...    ...        ...    ...
1099 2021 13   MATT    95.50     NICK   107.46
1100 2021 13   NICK   107.46     MATT    95.50
1101 2021 13   CHRIS  155.92     KYLE    88.06
1102 2021 13   KYLE    88.06     CHRIS  155.92
1103 2021 13   JASON  120.80     DYLAN  101.10
1104 2021 13   DYLAN  101.10     JASON  120.80
1105 2021 13   NOAH   100.40     STEVE  151.50
1106 2021 13   STEVE  151.50     NOAH   100.40
1107 2021 13   SAM    102.42     ANDREW 127.12
1108 2021 13   ANDREW 127.12     SAM    102.42
1109 2021 14   ANDREW 237.42     CHRIS  225.20
1110 2021 14   CHRIS  225.20     ANDREW 237.42
1111 2021 14   STEVE  271.94     NICK   259.98
1112 2021 14   NICK   259.98     STEVE  271.94
1113 2021 14   SAM    215.02     KYLE   197.10
1114 2021 14   KYLE   197.10     SAM    215.02
1115 2021 14   JASON  261.70     NOAH   184.64
1116 2021 14   NOAH   184.64     JASON  261.70
1117 2021 14   DYLAN  220.56     MATT   120.64
1118 2021 14   MATT   120.64     DYLAN  220.56
1119 2021 15   ANDREW 305.32     STEVE  231.64
1120 2021 15   STEVE  231.64     ANDREW 305.32
1121 2021 15   NICK   255.08     CHRIS  291.44
1122 2021 15   CHRIS  291.44     NICK   255.08
1123 2021 15   JASON  205.60     SAM    337.58
1124 2021 15   SAM    337.58     JASON  205.60
1125 2021 15   DYLAN  212.34     KYLE   249.10
1126 2021 15   KYLE   249.10     DYLAN  212.34
1127 2021 15   MATT   164.76     NOAH   137.16
1128 2021 15   NOAH   137.16     MATT   164.76

In [10]:
ff_scores <- ff_scores %>%
  mutate(win = case_when(
    (team_score > opp_score) ~ 1,
    (team_score < opp_score) ~ 0,
    (team_score == opp_score) ~ 0.5
  )) %>%
  mutate(reg = case_when(
    (week < 13) ~ 1,
    ((week == 13) & (year %in% c(2014, 2018, 2021))) ~ 1,
    ((week == 13) & !(year %in% c(2014, 2018, 2021))) ~ 0,
    (week > 13) ~ 0
  )) %>%
  mutate(playoffs = case_when(
    (week < 13) ~ 0,
    ((week == 13) & (year %in% c(2014, 2018, 2021))) ~ 0,
    ((week == 13) & !(year %in% c(2014, 2018, 2021))) ~ 1,
    (week > 13) ~ 1
  ))

In [11]:
ff_scores

     year week team   team_score opp    opp_score win reg
1    2014 1    CHRIS  119.68     CARLEN 126.34    0   1
2    2014 1    CARLEN 126.34     CHRIS  119.68    1   1
3    2014 1    ANDREW 106.28     KYLE   145.94    0   1
4    2014 1    KYLE   145.94     ANDREW 106.28    1   1
5    2014 1    STEVE  103.46     DREW   101.92    1   1
6    2014 1    DREW   101.92     STEVE  103.46    0   1
7    2014 1    MATT   125.50     NATHAN  99.86    1   1
8    2014 1    NATHAN  99.86     MATT   125.50    0   1
9    2014 2    MATT   124.62     CHRIS  119.12    1   1
10   2014 2    CHRIS  119.12     MATT   124.62    0   1
11   2014 2    STEVE  122.52     ANDREW 132.02    0   1
12   2014 2    ANDREW 132.02     STEVE  122.52    1   1
13   2014 2    KYLE   102.18     DREW   146.00    0   1
14   2014 2    DREW   146.00     KYLE   102.18    1   1
15   2014 2    CARLEN 123.80     NATHAN  94.04    1   1
16   2014 2    NATHAN  94.04     CARLEN 123.80    0   1
17   2014 3    CHRIS  121.96     NATHAN 124.76    0   1
18   2014 3    NATHAN 124.76     CHRIS  121.96    1   1
19   2014 3    ANDREW 106.30     DREW   122.18    0   1
20   2014 3    DREW   122.18     ANDREW 106.30    1   1
21   2014 3    KYLE    79.74     STEVE  110.76    0   1
22   2014 3    STEVE  110.76     KYLE    79.74    1   1
23   2014 3    CARLEN 124.10     MATT   119.32    1   1
24   2014 3    MATT   119.32     CARLEN 124.10    0   1
25   2014 4    CHRIS  134.52     ANDREW 158.80    0   1
26   2014 4    ANDREW 158.80     CHRIS  134.52    1   1
27   2014 4    CARLEN 100.26     KYLE   112.50    0   1
28   2014 4    KYLE   112.50     CARLEN 100.26    1   1
29   2014 4    MATT   134.50     STEVE  134.84    0   1
30   2014 4    STEVE  134.84     MATT   134.50    1   1
...  ...  ...  ...    ...        ...    ...       ... ...
1099 2021 13   MATT    95.50     NICK   107.46    0   1
1100 2021 13   NICK   107.46     MATT    95.50    1   1
1101 2021 13   CHRIS  155.92     KYLE    88.06    1   1
1102 2021 13   KYLE    88.06     CHRIS  155.92    0   1
1103 2021 13   JASON  120.80     DYLAN  101.10    1   1
1104 2021 13   DYLAN  101.10     JASON  120.80    0   1
1105 2021 13   NOAH   100.40     STEVE  151.50    0   1
1106 2021 13   STEVE  151.50     NOAH   100.40    1   1
1107 2021 13   SAM    102.42     ANDREW 127.12    0   1
1108 2021 13   ANDREW 127.12     SAM    102.42    1   1
1109 2021 14   ANDREW 237.42     CHRIS  225.20    1   0
1110 2021 14   CHRIS  225.20     ANDREW 237.42    0   0
1111 2021 14   STEVE  271.94     NICK   259.98    1   0
1112 2021 14   NICK   259.98     STEVE  271.94    0   0
1113 2021 14   SAM    215.02     KYLE   197.10    1   0
1114 2021 14   KYLE   197.10     SAM    215.02    0   0
1115 2021 14   JASON  261.70     NOAH   184.64    1   0
1116 2021 14   NOAH   184.64     JASON  261.70    0   0
1117 2021 14   DYLAN  220.56     MATT   120.64    1   0
1118 2021 14   MATT   120.64     DYLAN  220.56    0   0
1119 2021 15   ANDREW 305.32     STEVE  231.64    1   0
1120 2021 15   STEVE  231.64     ANDREW 305.32    0   0
1121 2021 15   NICK   255.08     CHRIS  291.44    0   0
1122 2021 15   CHRIS  291.44     NICK   255.08    1   0
1123 2021 15   JASON  205.60     SAM    337.58    0   0
1124 2021 15   SAM    337.58     JASON  205.60    1   0
1125 2021 15   DYLAN  212.34     KYLE   249.10    0   0
1126 2021 15   KYLE   249.10     DYLAN  212.34    1   0
1127 2021 15   MATT   164.76     NOAH   137.16    1   0
1128 2021 15   NOAH   137.16     MATT   164.76    0   0