## Import libraries and dataset.

In [44]:
import pandas as pd

elo_history = pd.read_csv("C:\\Users\\chris\\Documents\\Datasets\\FFL\\elo_history.csv")

## Get list of teams.

In [13]:
team_list = list(elo_history.team_1.unique())
team_list

['CHRIS',
 'ANDREW',
 'STEVE',
 'MATT',
 'KYLE',
 'CARLEN',
 'NATHAN',
 'DREW',
 'SAM',
 'DYLAN',
 'NICK',
 'JASON',
 'NOAH']

## Create "Dates" column.

In [42]:
dates = list(elo_history.date.unique())
dates.insert(0, "2014-00")

## Initialize team elo rating columns at 0.

In [35]:
elo_dict = {}

for i in team_list:
    elo_dict[i] = [0] * len(dates)

## Populate columns with data from elo history dataset.

In [36]:
curr_date = ""
date_index = 0
for index,row in elo_history.iterrows():
    if row["date"] != curr_date:
        curr_date = row["date"]
        date_index += 1
        
    elo_dict[row["team_1"]][date_index] = round(row["team1_elo_post"])
    elo_dict[row["team_2"]][date_index] = round(row["team2_elo_post"])


for i in team_list:
    for index,j in enumerate(elo_dict[i]):
        if (j != 0):
            elo_dict[i][index - 1] = 1500
            break

## Merge team elo rating columns and date column.

In [40]:
df = pd.DataFrame({"date" : dates} | elo_dict)
df.tail()

,date,CHRIS,ANDREW,STEVE,MATT,KYLE,CARLEN,NATHAN,DREW,SAM,DYLAN,NICK,JASON,NOAH
112,2021-11,1644,1521,1523,1369,1533,0,0,0,1487,1454,1518,1465,1542
113,2021-12,1654,1533,1513,1390,1511,0,0,0,1505,1442,1530,1453,1524
114,2021-13,1663,1547,1529,1381,1502,0,0,0,1491,1427,1540,1467,1509
115,2021-14,1643,1567,1544,1368,1487,0,0,0,1506,1440,1524,1484,1492
116,2021-15,1653,1581,1530,1388,1500,0,0,0,1520,1427,1514,1470,1472

## Save and export table to CSV.

In [43]:
df.to_csv("C:\\Users\\chris\\Desktop\\elo_over_time.csv", index=False)